{% extends "base.html" %} {% block content %}
<div>
  <form method="get">
    {{ form }}
    <button type="submit">Search</button>
  </form>
  <div>Average Salary is : {{averageSalary}}</div>
  <table>
    <tr>
      <th>JobTitle</th>
      <th>companyLocation</th>
      <th>salary</th>
      <th>Actions</th>
    </tr>
    {% for element in data %}
    <tr>
      <td style="width: 150px">{{element.jobTitle}}</td>
      <td style="width: 200px">{{element.companyLocation}}</td>
      <td style="widht: 100px">{{element.salary}}</td>
      <td style="display: flex; gap: 10px">
        <a href="{% url 'edit' element.id %}">
          <button class="edit-button">Edit</button>
        </a>
        <form method="post" action="{% url 'delete' element.id %}">
          {% csrf_token %}
          <input type="hidden" name="data_key" value="your_data_to_send" />
          <button class="delete-button">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
